.coracao1 {
    width: 6vw;
    height: 6vw;
    position: absolute;
    top: calc(10% - 3vh);
    right: calc(12% - 3vh);

    transform: rotate(9deg);

    animation: escala 2s infinite;
}

.coracao1:before, .coracao1:after {
    content: '';
    position: absolute;
    background-color: red;

    width: 50%;
    height: 80%;

    border-radius: 45% 45% 0 0;
}

.coracao1:before {
    left: calc(39% - 1.5vh);
    transform: rotate(-45deg);

    border-bottom-right-radius: 45%;
}

.coracao1:after {
    transform: rotate(45deg);
    left: calc(60% - 1.5vh);

    border-bottom-left-radius: 45%;
}

@keyframes escala {
    0% {
        scale: 1;
    }

    50% {
        scale: 1.2;
    }
}
