@media screen and (orientation: portrait) {
    body {
        background-color: #faee81;
        perspective: 120vh;
    }
    
    .non-selectable {
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
}