@media screen and (orientation: landscape) {
    .cherry-swash-regular {
        /*padrão*/
        font-family: "Cherry Swash", serif;
        font-weight: 400;
        font-style: normal;
    }
    
    .linhas, .texto {
        word-wrap: break-word;
        position: absolute;
        height: 100%;
    }
    
    .texto {
        width: 100%;
        
    }
    
    .texto p {
        hyphens: auto;
        color: #008bcb;
    }
    
    .linhas {
        padding-top: 0.7%;
        width: 100%;
        color: #d2f1ff;
    }
    
    .fonte {
            /*fonte em si*/
            font-size: 2.4vw;
            text-align: justify;
            text-indent: 6vw;
            padding-left: 1vw;
            padding-right: 1vw;
    }
    
    .espaco-coracao {
        width: 92%;
    }
    
    .centralizado {
        text-align: center;
        text-indent: 0;
    }
    
    .espaco-coelho {
        padding-left: 4vw;
        text-indent: 3vw;
    }
}