@media screen and (orientation: landscape) {
  .love-light-regular {
    font-family: "Love Light", cursive;
    font-weight: 400;
    font-style: normal;
  } 

.fonte-coracao {
    position: absolute;
    z-index: 2;
    top: -0.3vw;
    left: 1.9vw;
    font-size: 1.7vw;
    color: aliceblue;
}
}