#coracao1 {
    width: 6vh;
    height: 6vh;
    position: absolute;
    top: 4vw;
    right: 5vw;

    transform: rotate(9deg);

    animation: escala 2s infinite;
}

#coracao1:before, #coracao1:after {
    content: '';
    position: absolute;
    background-color: red;

    width: 3vh;
    height: 4.8vh;

    border-radius: 3vh 3vh 0 0;
}

#coracao1:before {
    left: calc(39% - 1.5vh);
    transform: rotate(-45deg);
}

#coracao1:after {
    transform: rotate(45deg);
    left: calc(60% - 1.5vh);
}

@keyframes escala {
    0% {
        scale: 1;
    }

    50% {
        scale: 1.2;
    }
}
