:root {
    --height-ovo: calc(var(--height-papel) * 0.16);
    --width-ovo: calc(var(--height-ovo) * 0.565);
}

.ovo {
    position: absolute;
    z-index: 1;
    bottom: calc(var(--height-papel) * 0.125 - var(--height-ovo) * 0.5);
    left: calc(var(--width-papel) * 0.1 - var(--width-ovo) * 0.5);
    width: var(--width-ovo);
    height: var(--height-ovo);

    transform: rotateZ(-15deg);
    transition: transform 0.3s;
}

.ovo::before, .ovo::after {
    position: absolute;
    background-color: #d7c73d;
    content: '';
    width: 100%;
}

/*parte de baixo*/
.ovo::before {
    top: 50%;
    height: 45%;
    z-index: 1;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
}

/*parte rachada*/
.ovo::after {
    top: calc(35% + 1px);
    height: 15%;
    clip-path: polygon(0 100%, 12.5% 20%, 25% 100%, 37.5% 0, 50% 100%, 62.5% 10%, 75% 100%, 87.5% 5%, 100% 100%);
    z-index: 2;
}

.coelho {
    top: calc(var(--height-ovo) * 0.1 var(--height-ovo) * 0.55 * 0.5);
    position: absolute;
    width: var(--width-ovo);
    height: calc(var(--height-ovo) * 0.55);
    background-image: url("../imagens/coelho.png");
    background-size:contain;
    background-position: center;
    transition-duration: 0.6s;
}
