@media screen and (orientation: landscape) {
    .envelope {
        position: absolute;
        width: 82vw;
        height: 58.5vw;
        top: 23vw;
        left: calc(49vw - 40vw);
    }
    
    .envelope-fundo {
        background-color: #058bc9;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
        z-index: 1;
    }
    
    .envelope-tampa {
        clip-path: polygon(0 0, 100% 0, 50% 30%);
        background-color: #02abf9;
        z-index: 3;
        transform-origin: top;
        transition: all 0.5s linear;
    }
    
    .envelope-frente {
        z-index: 3;
        clip-path: polygon(0 0%, 50% 30%, 100% 0%, 100% 100%, 0 100%);
        background-color: #33bdfd;
    }
    
    .tira-envelope {
        animation: tirando-envelope 2s forwards;
    }
    
    .coloca-envelope {
        animation: colocando-envelope 4s forwards;
    }
    
    .desdobra-envelope {
        transition: all 0.5s linear;
        
        transform: rotateX(360deg);
        background-color: #faee81;
        z-index: 1;
    }
    
    #envelope > * {
        transform-style: preserve-3d;
    }
    
    @keyframes tirando-envelope{
        0% {
            top: 23vw;
        }
    
        25% {
            top: 23vw;
            transform: rotateX(0deg);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }
    
        45% {
            transform: rotateX(15deg);
            box-shadow: -10px 8px 10px rgba(0, 0, 0, 0.5);
        }
        100% {
            top: 148vw;
        }
    }
    
    @keyframes colocando-envelope{
        0% {
            top: 148vw;
        }
        25% {
            top: 148vw;
        }
        50% {
            transform: rotateX(-15deg);
            box-shadow: 10px -8px 10px rgba(0, 0, 0, 0.5);
        }
        97.5% {
            transform: rotateX(0deg);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            top: 23vw;
        }
        100% {
            top: 23vw;
        }
    }
}